:root{
    --base :#ffc600;
    --spacing: 10px;
    --blur:10px;
}

img{
    filter: blur(var(--blur));
    padding: var(--spacing);
    background-color: var(--base);
}
.h1{
    color: var(--base);
}
body{
    text-align: center;
}
.control{
    margin-bottom: 20px;
}